<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11218566090"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11218566090');
    </script>
    <!-- Event snippet for Переход на сайт conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-11218566090/WEQ_COzkzqoYEMr3tuUp',
            'value': 50.0,
            'currency': 'USD'
        });
    </script>

    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        button{
            width: 100px;
            height: 50px;
            margin-top: 30px;
            text-align: center;
            color: black;
            display: block;
        }
    </style>
</head>
<body>
<button> <a th:href="@{/admin}">Назад</a></button>
<button><a th:href="@{/admin/types/create}">Добавить тип</a> </button>
<table style="margin-top: 10px" border="5px">
    <th>id</th>
    <th>фото</th>
    <th>название</th>
    <th>действие</th>
<div th:each="type : ${types}">
    <tr>
<td><b th:text="${type.getId()}"></b></td>
<td><img th:src="${type.getImage()}" style="width: 100px; height: 100px"/></td>
    <td><b th:text="${type.getType()}"></b></td>
    <td><a th:href="@{/admin/types/{id}(id = ${type.getId()})}">Изменить/удалить</a></td>
    </tr>
</div>
</table>
</body>
</html>