<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11218566090"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11218566090');
    </script>
    <!-- Event snippet for Переход на сайт conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-11218566090/WEQ_COzkzqoYEMr3tuUp',
            'value': 50.0,
            'currency': 'USD'
        });
    </script>

    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<a th:href="@{/admin}">Назад</a>
<br />
<br />
<br />
<button style="width: 100px; height: 40px; background-color: green" ><a style="font-size: medium" th:href="@{/admin/furniture/create}">Добавить мебель</a></button>
<br />
<br />
<br />
<table border="5px">
    <th>Фото</th>
    <th>Id</th>
    <th>Название</th>
    <th>Описание</th>
    <th>Цена</th>
    <th>Приоритет</th>
    <th>Тип(есть ли в галерее)</th>
    <th>Тип услуги</th>
    <th>Изменить</th>
    <div th:each="furniture : ${furnitures}">
        <tr>
           <td><img th:src="${furniture.getImages().get(0).getPath()}" style="width: 100px; height: 100px"/></td>
           <td th:text="${furniture.getId()}"></td>
           <td th:text="${furniture.getName()}"></td>
           <td th:text="${furniture.getDescription()}"></td>
           <td th:text="${furniture.getPrice()}"></td>
           <td th:text="${furniture.getPriority()}"></td>
           <td th:text="${furniture.getType()}"></td>
           <td th:text="${furniture.getFurnitureTypeOfOrderId().getName()}"></td>
            <td><a th:href="@{/admin/furniture/{id}(id = ${furniture.getId()})}">Изменить</a> </td>
        </tr>
    </div>
</table>

</body>
</html>