<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11218566090"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11218566090');
    </script>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        button{
            width: 100px;
            height: 50px;
            margin-top: 30px;
            text-align: center;
            color: black;
            display: block;
            background-color: green;
        }
        input{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<button style="margin-bottom: 10px; background-color: white"><a th:href="@{/admin/types}">Назад</a></button>
<form th:method="post" th:action="@{/admin/types/create}" th:object="${type}" enctype="multipart/form-data">
    <label>Название</label>
    <input style="display: block" type="text" th:field="*{type}" />
    <label>
        <input style="display: inline" type="file" name="file"/>
        <button style="display: inline; background-color: antiquewhite" type="submit">Загрузить</button>
    </label>
</form>
</body>
</html>