<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11218566090"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11218566090');
    </script>
    <meta charset="UTF-8">
    <title>Домашній затишок</title>
    <link rel="shortcut icon" href="/images/home.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<style>
    .line
    {
        height: 3px;
        margin: 15px auto 30px;
        width: 100px;
        background-color: black;
    }
    .image {

        overflow: hidden;
    }
    .image img {
        transition: transform .5s;
    }
    .image img:hover {
        transform: scale(1.5);

    }
</style>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a th:href="@{/}" class="navbar-brand">Домашній затишок</a>
    </div>
</nav>

<div id="myCarousel" class="carousel  slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  src="/images/slide1.jpg" style="width: 100vw; height: 50vh">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Кухні</h1>
                    <p><a class="btn btn-md btn-dark" th:href="@{/gallery}">Галерея</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/slide2.jpg" style="width: 100vw; height: 50vh">

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Ліжка</h1>
                    <p><a class="btn btn-md btn-dark" th:href="@{/gallery}">Галерея</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/furnitures/dyt_kutok.jpg" style="width: 100vw; height: 50vh">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Комбіновані меблі</h1>
                    <p><a class="btn btn-md btn-dark" th:href="@{/gallery}">Галерея</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container py-2">
    <main>

        <div class="row ">
            <div class="row"><h1 style="text-align: center">Товар</h1><i class="line"></i> </div>
        </div>

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Шафи, тумби, пуфи, крісла, тощо...<span class="text-muted">Все, що Вам потрібно!</span></h2>
                <p class="lead">Меблі – це невід'ємний атрибут будь-якої квартири, кімнати, дачі. Вона не тільки створює затишок та комфорт приміщенню, але і є невід'ємною функціональною складовою нашого побуту.
                </p>
                <p class="lead">Будь-які меблі для будинку чи офісу. Зробимо меблі для кухні, меблі для вітальні та дитячої, кабінет та офісні меблі на замовлення.</p>
                <p class="lead">Працюємо в різних меблевих стилях з незмінною якістю. Більше 10 років ми виготовляємо неповторні примірники меблевого виробництва в класичному, мінімалістичному стилі, в стилі модерн.</p>
            </div>
            <div class="col-md-5 order-md-1 image">
                <div class="card">
                    <img  th:src="${furniture.getImages().get(0).getPath()}" style="object-fit: cover; max-width: 100vw; height: 37vh" class="card-img-top" alt="...">
                </div>
                </div>
        </div>


        <div class="py-3 text-left">

            <h2 class="py-2" th:text="${furniture.getName()}">Checkout form</h2>
            <p class="lead" th:text="${furniture.getDescription()}">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last" >
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Послуги</span>
                    <span class="badge bg-primary rounded-pill">5</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <h6 class="my-0"><a th:href="@{/types/1}">Перетяжка меблів</a></h6>
                        <small class="text-muted">Товари</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <h6 class="my-0"><a th:href="@{/types/3}">М'які меблі на замовлення</a></h6>
                        <small class="text-muted">Товари</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <h6 class="my-0"><a th:href="@{/types/2}">Корпусні меблі на замовлення</a></h6>
                        <small class="text-muted">Товари</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <h6 class="my-0"><a th:href="@{/}">Домашня сторінка</a></h6>
                        <small class="text-muted">Сторінка</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <h6 class="my-0"><a th:href="@{/gallery}">Галерея</a></h6>
                        <small class="text-muted">Сторінка</small>
                    </li>

                </ul>

            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Заповніть контактну інформацію, щоб ми могли обговорити з вами замовлення</h4>
                <form class="needs-validation" th:method="post" th:action="@{/furniture/f/{id}(id = ${furniture.getId()})}" th:object="${order}" id="order">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="row g-3">
                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">Ім'я</label>
                            <input type="text" class="form-control" id="firstName" th:field="*{name}" placeholder="Петро Петренко" >
                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                        </div>


                        <div class="col-sm-4">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="you@example.com">
                            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
                        </div>


                        <div class="col-sm-4">
                            <label for="phone" class="form-label">Номер телефону</label>
                            <input type="text" class="form-control" id="phone" th:field="*{phoneNumber}" placeholder="+380731090986">
                            <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Коментар</label>
                            <textarea type="text" class="form-control" id="address" th:field="*{comment}" rows="5" placeholder="Напишіть Ваші побажання щодо заказу чи інформацію щодо того, як та коли нам краще зв'язатись з Вами!" required="" />
                            <div class="invalid-feedback" style="color:red" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">Name Error</div>
                        </div>



                    <button class="w-100 btn btn-primary btn-lg" type="submit">Відправити замовлення!</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a th:href="@{/}" href="" class="nav-link px-2 text-muted">Головна сторінка</a></li>
                <li class="nav-item"><a th:href="@{/gallery}" href="" class="nav-link px-2 text-muted">Галерея</a></li>
            </ul>
            <p class="text-center text-muted">© 2023 Домашній затишок</p>
        </footer>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


</body>
</html>