<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11218566090"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11218566090');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Домашній затишок</title>
    <link rel="shortcut icon" href="/images/home.png" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .line
        {
            height: 3px;
            margin: 15px auto 30px;
            width: 100px;
            background-color: black;
        }
        .card:hover {
            transition: transform .5s;
            transform: scale(1.1);
        }
    </style>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Домашній затишок</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#work">Як ми працюємо?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#items">Товари</a>
                </li>
            </ul>
            <a class="btn btn-dark" href="mailto:domashniy_uyt@ukr.net"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
            </svg></a>
            <a class="btn btn-dark" href="viber://chat?number=%2B380506364330"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg></a>
            <b class="btn btn-dark" >0661234016</b>
        </div>
    </div>
</nav>
<div id="myCarousel" class="carousel  slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  src="/images/slide1.jpg" style="width: 100vw; height: 50vh">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Кухні</h1>
                    <p><a class="btn btn-md btn-dark" th:href="@{/gallery}">Галерея</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/slide2.jpg" style="width: 100vw; height: 50vh">

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Ліжка</h1>
                    <p><a class="btn btn-md btn-dark" th:href="@{/gallery}">Галерея</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/furnitures/dyt_kutok.jpg" style="width: 100vw; height: 50vh">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Комбіновані меблі</h1>
                    <p><a class="btn btn-md btn-dark" th:href="@{/gallery}">Галерея</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container py-2  "  id="items">
    <div class="row ">
        <div class="row"><h1 style="text-align: center">Послуги</h1><i class="line"></i> </div>
    </div>
    <div class="row row-cols-sm-1 row-cols-md-3 gy-5 gx-5">

        <div th:each="order : ${furnitureOrders}">

            <div class="col">

                <a style="color: black"  th:href="@{/furniture/{type}(type = ${order.getId()})}">
                <div class="card ">
                            <img height="300" th:src="${order.getImage()}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"  th:text="${order.getName()}">Заголовок карточки</h5>
                    </div>
                    </div>
                </a>
                </div>

            </div>
        </div>
    <hr class="featurette-divider mt-5">

    </div>

<div class="container px-4 py-1 mt-1" id="work">
    <div class="row"><h1 style="text-align: center">Як ми працюємо?</h1><i class="line"></i> </div>
    <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-hand-index-fill" viewBox="0 0 16 16">
                    <path d="M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002z"/>
                </svg>       </div>
            <div>
                <h3 class="fs-2">I</h3>
                <p>Ви обираєте потрібну Вам послугу. Наприклад, Ви обираєте "Перетяжка меблів" --> "Кутові дивани".
                    Перед Вами відкривається каталог робіт, які вже були зроблені нами.
                    Ви можете обрати з наданого каталогу товар, який підходить Вам по матеріалам, чи ціні, в будь-якому випадку, не так важливо який саме товар ви оберете,
                    головне зробити замовлення, заповнивши форму.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-telephone-inbound-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z"/>
                </svg>            </div>
            <div>
                <h3 class="fs-2">II</h3>
                <p>Після того, як ви залишити замовлення ми зв'яжемося з вами для обговорення наступних деталей:
                    Які саме матеріали цікавлять Вас, який ціновий діапазон та інше.
                    Після цього ми приїдемо до Вас на заміри зі зразками матеріалу.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-truck-front-fill" viewBox="0 0 16 16">
                    <path d="M3.5 0A2.5 2.5 0 0 0 1 2.5v9c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2v-9A2.5 2.5 0 0 0 12.5 0h-9ZM3 3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.9c0 .625-.562 1.092-1.17.994C10.925 7.747 9.208 7.5 8 7.5c-1.208 0-2.925.247-3.83.394A1.008 1.008 0 0 1 3 6.9V3Zm1 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm8 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm-5-2h2a1 1 0 1 1 0 2H7a1 1 0 1 1 0-2Z"/>
                </svg>       </div>
            <div>
                <h3 class="fs-2">III</h3>
                <p>Коли ми узгодимо матеріали та інші деталі, наша компанія розробить модель у комп'ютерній програмі, як це буде виглядати на прикладі кухні
                    Ви можете подивиться на фото у цьому розділі, який знаходяться нижче.
                    Після завершення роботи при привозимо меблі та встановлюємо їх.</p>
            </div>
        </div>
    </div>
    <div class="row row-cols-sm-1 row-cols-md-3 py-3 px-3 ">
        <img style="margin-bottom: 30px" src="/images/yak_my_prazyem1.jpg" />
        <img style="margin-bottom: 30px" src="/images/yak_my_prazyem2.jpg" />
        <img style="margin-bottom: 30px" src="/images/yak_my_prazyuem3.jpg" />
    </div>
</div>

<!-- FOOTER -->
<div class="container">
    <footer class="py-1 mt-2">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a th:href="@{/}" href="" class="nav-link px-2 text-muted">Головна сторінка</a></li>
            <li class="nav-item"><a th:href="@{/gallery}" href="" class="nav-link px-2 text-muted">Галерея</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 Домашній затишок</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>