<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашній затишок</title>
</head>
<body>
<a th:href="@{/pulling-of-furniture}">Перетяжка м'яких меблів</a>
<a th:href="@{/soft-furniture}">М'які меблі на замовлення</a>
<a th:href="@{/case-furniture}">Корпусні меблі на замовлення</a>
<a th:href="@{/dressing-rooms}">Гардеробні кімнати на замовлення</a>
<a th:href="@{/furniture-for-business}">Меблі для вашого бізнеса</a>
<a th:href="@{/mattresses}">Матраци</a>
</body>
</html>