<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11218566090"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11218566090');
    </script>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="shortcut icon" href="/images/home.png" type="image/png">

</head>
<body>
<a th:href="@{/admin}">Вернуться к админисративной панели</a>
<table border="5px">
    <th>Номер заказа</th>
    <th>Заказчик</th>
    <th>Почта</th>
    <th>Телефон</th>
    <th>Коментарий</th>
    <th>Товар</th>
    <th>На сайте</th>
    <th>Дата заказа</th>
  <div th:each="order : ${orders}">
      <tr>
          <td th:text="${order.getId()}"></td>
          <td th:text="${order.getName()}"></td>
          <td th:text="${order.getEmail()}"></td>
          <td th:text="${order.getPhoneNumber()}"></td>
          <td th:text="${order.getComment()}"></td>
          <td th:text="${order.getFurnitureId().getName()}"></td>
          <td><a th:href="@{/furniture/f/{id}(id = ${order.getFurnitureId().getId()})}">Посмотреть товар</a></td>
          <td th:text="${order.getDateOfOrder()}"></td>
      </tr>
  </div>
</table>
</body>
</html>